.container{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgb(182, 78, 4);
    width: 250px; 
    height: 40px;
    margin: 3px auto;
    border: 1px solid black;
}

.capital{
    width: 265px; 
    height: 40px; 
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 47);
    padding-left: 15px;
}

span{
    cursor: pointer;
}

.info{
    cursor: pointer;
    text-align: center;
}


